@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLightItalic.eot');
    src: url('../fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('../fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
